@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,562;0,600;0,700;1,400;1,500;1,562;1,600;1,700&family=Satisfy&display=swap');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Lora', serif;
  color:#222;
  font-size: 15px;
  line-height: 28px;

}

div .display-4 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}
/*  Logo styling*/


.navbar-brand img {
    height:120px;
    width:250px;
    margin-left: 10%;
}


/*Navigation*/

.navbar {
  padding:.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}


.nav-link {
  font-size: 1.1em !important;
}


.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color:#fddd00 ;
    transition: all 300ms ease-in;
    color: black;
    border-color: #fddd00;
}

.menu-right-btn:hover {
    color:white;
    background-color: #fddd00;
    
}






/*Carousel - image slider*/

.carousel-inner img{
  width:100%;
  height: 100%;
}



/*styling caption*/

.carousel-caption {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  font-family: 'Satisfy', cursive;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 150%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}



/* Banner button styling*/

.btn-primary {
  background-color: #01304a;
  border:1px solid #01304a;
}

.btn-primary:hover {
  background-color: #000000;
  border:1px solid #000000;
}





/* Section-0: image divider; */

.column {
    float:left;
    width:33.33%;
    padding:0px;
    position: relative;
}

.section-0 img {
    box-sizing: border-box;
    background-size: cover;
}

.section-0:after {
    content:"";
    clear:both;
    display:table;
}

.blackLayer {
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    width:100%;
   

}



/*  Welcome section  */

.padding {
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.welcome {
  width:75%;
  margin :0 auto;
  padding-top:  2rem;
}

/* horizone row for the welcome section*/

.welcome hr {
  border-top: 2px solid #e4e4e4;
  width:95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}



/*Gallery */

.gallPage {
    background-color:#e4e4e4;
}

.gallPage h1 {
    margin-top: 8%;


}

.gallPage .btn {
    margin-top: 2%;
    margin-bottom:5%;
}

/* Join us - two column styling */

.texImg {
     background-color:#01304a;
}

.para-1 {
    color: white;
    margin:0;
    margin-top: 7%;
    padding:0;
   
}

.texImg .join{
    color: #fddd00;
    font-size: 40px;
    text-decoration: underline;
}


.texImg img {
    margin-top: 8%;
}

.texImg .display-4 {
    margin-top: 8%;
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    color: white;

}

.texImg .btn {
    margin-top: 5%;
}



/* Newsletter section 5 */


.social i {
    color:#EF5651;
    font-size: 20px;
}

.section-5 h5 {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
}

.section-5 {
    margin-top: 5%;
}


/* Footer */

hr.light {
  border-top: 1px solid #e4e4e4;
  width:75%;
  margin-top:.8rem;
  margin-bottom:1rem;
}


footer img {
    height:120px;
    width:300px;
    margin-left: 10%;
}

footer {
    margin-top:20%;
    background-color: #414042;
    color:#d5d5d5;
    padding-top:2rem;


}

footer h6 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 20px;
}
hr.light  {
   border-top: 1px solid #d5d5d5; 
   width: 75%;
   margin-top: .8rem;
   margin-bottom: 1rem;
}

footer a {
    color:#d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5; 
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;  
}







/* Mobile version */

@media screen and (max-width:590px){


/*social icons*/
  .social a {
    font-size: 4em;
    padding: 2rem;
  }


  }
@media (max-width: 768px) {
  

/*carousel info */
.carousel-caption {
  top:45%;

}

.carousel-caption h1 {
  font-size: 350%;

}

.carousel-caption h3 {
  font-size: 140%;
  font-weight: 400;
  padding-bottom: .2rem;
}

.carousel-caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}

/*welcome section*/
.display-4 {
  font-size: 200%;
}

 .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }





}





@media (max-width: 576px) {
  
  .navbar-brand img {
    height:80px;
    width:175px;
    margin-left: -5px;
    
    }
    p {
        font-size: 13px;
    }
  /*Carousel*/

  .carousel-caption {
  top:40%;

}

.carousel-caption h1 {
  font-size: 250%;

}

.carousel-caption h3 {
  font-size: 80%;

}

.carousel-caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}

.carousel-indicators {
  display:none;
}


.display-4 {
  font-size: 160%;
}

 .social a {
    font-size: 2em;
    padding: .7rem;
  }

  /*Newsletter*/

    .section-5 {
        margin-top: 15%;
    }

    .section-5 h4 {
        font-size: 17px;
        line-height: 5px;
    }

    .form-inline input{
        margin: 0% 10% 5% 10%;
    }

     .section-4 .col-md-5 {
        padding:0% 15%;
    }
}
}



































    /*logo custom*/
  /*  .navbar-brand img {
    height:80px;
    width:175px;
    margin-left: -5px;
    
    }

     .site-title {
        font-size:57px;
    }
  
     .site-desc {
        font-size: 15px;
        padding-left: 15%;
        text-align: left;
        
    }




*/
    
    /*.section-4 .col-md-7 img {
        width: 350px;
    }
*/
    /*Gallery*/

   /* .section-2 img {
        height:50%;
    }

    .section-2 {
        line-height: 25px;
    }

*/

    



/*


*/



