@import url('https://fonts.googleapis.com/css?family=Lato|Niconne|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora|Satisfy&display=swap');

/*  OVERALL look and feel */
body {
    padding: 0%;
    margin:0%;
    font-family: 'Lato';
    background: white;


}


header {
    background: white;
}
/*  Logo styling - START */


.navbar-brand img {
    height:120px;
    width:250px;
    margin-left: 10%;
}

/*  Logo styling - DONE */

/*Navigation START*/

.nav-link {
    font-size: 16px;
    margin:15px;
    color:#000 !important;
    font-family: 'Lato';
    font-weight: 500;
}


.nav-link:hover {
    color: #dad9d9 !important;
}


.active .nav-link {
    color:#fddd00 !important;
}


.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color:#fddd00 ;
    transition: all 300ms ease-in;
    color: black;
    border-color: #fddd00;
}

.menu-right-btn:hover {
    color:white;
    background-color: #fddd00;
    
}

/*  */

.site-content {
    background-image: url('../img/main_banner_image.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.site-title, .site-desc {
    color: white;

}

.site-title {
    margin-top:30%;
    margin-bottom: 6%;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Oswald';

}

.site-desc {
    font-size: 15px;
    font-weight:600;
    text-align: center;
}

.site-btn1 {
    margin-left: 7%;
    background-color: #01304a;
    color:white;

}

.site-btn2 {
    background-color: white;

}

.site-btn1 {
    background-color: #01304a;
    color:white;
}

.site-btn2 {
    background-color: white;

}

.site-btn1, .site-btn2 {
    margin-top: 5%;
    margin-bottom:40%;
}

/* Section 3  */


.section-3 {
    margin-top: 6%;
    margin-bottom: 8%;
    overflow:auto;
}


.section-3 i {
    color: #000;
}

.section-3 p {
    color: rgba(0,0,0,0.59);
}

.section-3 .heading-1 {
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    font-family: 'Oswald';
    color:#01304a;
}




/* Section-0 */

.column {
    float:left;
    width:33.33%;
    padding:0px;
    position: relative;
}

.section-0 img {
    box-sizing: border-box;
    background-size: cover;
}

.section-0:after {
    content:"";
    clear:both;
    display:table;
}

.blackLayer {
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    width:100%;
   

}



/*  Section-1  */

.section-1 .heading-1 {
    margin-top: 15%;
    margin-bottom:5%;
    font-size: 39px;
    font-weight: 700;
    font-family: 'Oswald';
    color:#01304a;

}

.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
    
}

.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    font-size:25px;
    line-height: 2;
    font-family: 'Niconne';
    
    
}

.section-1 .card-text, .para-1 {
    color: rgba(65,64,66,0.59);
}

.section-1 {
    margin-bottom: 8%;
    
}

.card {
    width:20rem;
    margin-top:10%;
    min-height:30rem;
    max-height:35rem;
    /* overflow-wrap: break-word; */
    /* display:block; */
    /* overflow: hidden;  */
    
}



/*  Section 2  */

.section-2 .container-fluid {
    background-image: url('../img/gallery_image.jpg');
    background-size:cover;
    background-attachment: fixed;
    height: 600px;
    margin-top:20%;
    overflow:auto;
    

}

.section-2 .heading-1 {
    margin-top: 15%;
    margin-bottom: 4%;
    font-family: 'Lato';
    width:80%;
    color:white;
    
}

.section-2 .para {
    width:80%;
    font-family: 'Lato';
    color:white;
    margin-bottom: 7%;
   
}

.section-2 .btn {
    margin-bottom: 15%;
    width:30%;
    padding:2% 5%;
}



/* Section 4 */

.section-4 {
    margin-top: 8%;
    background-color:#01304a;

}

.section-4 .row .col-md-7, .col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 a {
    color: #fddd00;
    font-size: 40px;
    text-decoration: underline;
    

}

.section-4 .para-1 {
    color: white;
    font-family: 'Lato';
    margin:0;
    margin-top: 7%;
    font-size: 17px;
    padding:0;
   
}

.section-4 h1 {
    font-size: 30px;
   
}

.section-5 {
    margin-top: 15%;
    
}


/* Newsletter section 5 */


.social i {
    color:#EF5651;
    font-size: 20px;
}

.section-5 h5 {
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
}



/* Footer */


footer img {
    height:120px;
    width:300px;
    margin-left: 10%;
}

footer {
    margin-top:20%;
    background-color: #414042;
    color:#d5d5d5;
    padding-top:2rem;


}

footer h6 {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 20px;
}
hr.light  {
   border-top: 1px solid #d5d5d5; 
   width: 75%;
   margin-top: .8rem;
   margin-bottom: 1rem;
}

footer a {
    color:#d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5; 
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;  
}



/* Mobile version */

@media screen and (max-width:768px){

        html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        min-width: 100%;
        overflow-x:hidden;
    }
    

    /*logo custom*/
    .navbar-brand img {
    height:80px;
    width:175px;
    margin-left: -5px;
    
    }

     .site-title {
        font-size:57px;
    }
  
     .site-desc {
        font-size: 15px;
        padding-left: 15%;
        text-align: left;
        
    }




/* Team card*/
    .section-1 .card {
        margin-left:15%;
    }
    
    .section-4 .col-md-7 img {
        width: 350px;
    }


    .section-3 {
        font-size: 15px;
    }

    /*Gallery*/

    .section-2 img {
        height:50%;
    }

    .section-5 h4 {

        font-size: 17px;
        line-height: 5px;
    }

    .form-inline input{
        margin: 0% 10% 5% 10%;
    }

     .section-4 .col-md-5 {
        padding:0% 15%;
    }
}




@media screen and (max-width:320px) {
    


    
    .site-content .site-btn1 {
        margin-left: 15%;
    }

    .section-1 .heading-1, .section-1 .heading-2 {
        font-size:25px;
    }
    .section-1 .col-md-4 {
        padding:5%;
        margin-left:8%;
    }

    .section-1 {
        width:15rem;
    }

    .section-4 .col-md-5 {
        padding:0% 15%;
    }
    
    footer input[type="button"] {
        margin-top: 5%;
    }
    .social i {
        
    }
}







